.footer{
    background-color: #001821;
    height: 93px;
}
.footer__container{
    width: 1141px;
    border-top: 4px solid rgba(255, 255, 255, 0.1);
}
.logo, .menu, .socials, .socials__item, .contacts{
    display: inline-block;
}
.socials{
    margin-left: 274px;
}
.socials__item{
    margin-right: 10px;
    margin-top: 29px;
    width: 36px;
    height: 36px;
}
.socials__item:last-child{
    margin-right: 0;
}
.socials__img:hover{
    filter: brightness(180%);
}
.contacts__call{
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 1.82em;
    
    color: #9A9A9A;
    text-align: right;
}